{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    line-height: 1.6;
}

.nav{
	border-bottom: 1px solid grey;
	box-shadow: 2px 2px 5px grey;
	color: white;
	font-size: 16px;
	padding: 10px;
}

.menu{
	display: flex;
	margin: auto;




}
.menu a{
	color: white;
	text-decoration: none;
	margin: 20px;



}
.usersearch{
	display: flex;
	margin: auto

}
.usersearch a{
	color: white;
	margin: 10px;
}
.search a{


}
#hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #f4f4f4;
}

#hero button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#featured-franchises .franchise-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

#benefits, #testimonials {
    padding: 40px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer .social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}